/dist-newstyle/
/.vscode/*
!/.vscode/settings.json
!/.vscode/launch.json
!/.vscode/tasks.json
*.tix
/hpc_index.html
cabal.project.local
cabal.project.local~

# Ignore LICENSE files copied by Setup.hs, except root and 3rd party packages
**/LICENSE
!/LICENSE
!/packages/hspec-expectations-match/LICENSE
